<div class="header-wrapper">
  <header class="header {% if not is_front %} header--small {% endif %}">
    <div class="row">
      <div class="column medium-6 header__left">
        <a href="/">
          <svg class="header__logo" aria-labelledby="header-logo" role="img">
            <title id="header-logo">Una educación para el siglo XXI</title>
            <use pointer-events="none" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
          </svg>
        </a>
      </div>
      <div class="column medium-6 header__right show-for-medium">
        <a href="" class="button secondary header__button">Sigue nuestra actividad</a>
      </div>

    </div>
  </header>
</div>
